html{
    --white:#fff; 
    --Bage:#F3E6D1; 
    --orange:#DD4B1B;
}

body{
    background:#fff;
    font-family:'Karla', Arial, Helvetica, sans-serif;
}

.coffee {
    /* max-width:fit-content;
    min-width:fit-content; */
    display:block; 
}

.cups {
    display:none;
}

.drinks {
    color: var(--orange);
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.footer{
    background-color: #DD4B1B;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: space-between;
}

.footer p{
    display:none;

}

.fab{
      color: #fff;
      display: flex;
      text-align: center;
 }

 .header {
    background-color: var(--white);
    padding: 2rem;
    font-size: 20px;
    color:#DD4B1B;
    display: flex;
    align-items: left;
    margin: 2rem;

}



header p{
    padding-right: 2rem;
    padding-left: 2rem;
}

h1{
    color: var(--orange);
    font-size: 30px;
    font-weight: 43;
    letter-spacing: 1px;    
}

h2 {
    color: var(--orange);
    font-size: 30px;
    font-weight: 60;
    padding-top: 4rem;
    padding-left: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(4rem,4fr)[main-start] minmax(0,1280px) [main-end] minmax(4rem,4fr) [full-end];
}

.grid > * {
    grid-column: main;
}


.logo{
    max-width: 100px;
    padding-right: 2rem;
}

.menu {
    background-color: #F3E6D1;
    display: grid;
    padding-bottom: 2rem;
    padding-top: 2rem;

}

.menutop {
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.overview {
    background-color: var(--white);
    padding: 4rem 0;
    font-size: 37px;
}

.push{
    margin-left: auto;
    }

table {
    width: 100%;
  }
  
  tr {
    border-bottom: 1px solid black;
  }
  
  td:first-child {
      width: 80%;
  }
  
td {
    padding: 1rem;
    font-size: 22px;
  }
  
.price {
    font-size: 22px;
    font-weight:medium;

  }


.locationgrid {
      background-color: #fff;
      font-size: 30;
      font-weight: bold;
      /* padding-left: 2rem; */
      /* padding-right: 2rem; */
      padding-top: 2rem;
      padding-bottom: 2rem;
}

.lologo{
    max-width: 393.89px;
    padding-top: 2rem;
}

.info{
    display:grid;
    font-size:22px;
    padding-top:2rem;
    padding-left:2rem;
    padding-bottom:2rem;
}

.imgloMobile {
    display: grid;
    /* padding-right: 2rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* max-width: ; */
}
.imglo {
    display: none;
}

.locheader{
    display:none;
    margin-left: auto;
}

@media  screen and (min-width: 800px) {
    .two-column{
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
        max-width: 1300px;
        min-width: 390px;
    }
    .footer {
        /* justify-content: space-evenly; */
    }

    .footer i{
        font-size: 3rem;
    }
    .footer p{
        font-size: 28px;
        display: block;
        padding-left: 3rem;
    }

    .locheader{
        font-size: 43px;
        display: block;
        display: grid;
        margin-left: auto;
        display: flex;
    }
    .info p{
        font-size: 30px;
        font-weight: lighter;
    }
    .coffee {
        /* max-width: fit-content; */
        min-width: none;
    }
    .cups {
        /* max-width: 1550px; */
        display: grid;
    }
    .imglo {
        max-width: fit-content;
        display: block;
    }
    .imgloMobile {
        display: none;
    }
    .logo {
        min-width: 93px;
        max-width: 250px;
    }
    .push {
        font-size: 43px;
    }

}