html{
    --white: #fff; 
    --Bage: #F3E6D1; 
    --orange: #DD4B1B;


}
body {
    background: #fff;
    font-family:, 'Karla', Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 43;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem,1fr)[main-start] minmax(0,1300px) [main-end] minmax(1rem,1fr) [full-end];
}
